// Woowahan font
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

$primary-theme-color: #eeaeca;

// for subway lines
$lines: 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 101, 102, 104, 108, 109, 110, 111, 112,
  113, 21, 22;

$colors: #0d3692, #33a23d, #fe5d10, #00a2d1, #8b50a4, #c55c1d, #54640d, #f14c82,
  #aa9872, #ff8c00, #3681b7, #ffcd12, #73c7a6, #32c6a6, #0054a6, #8cadcb,
  #ed8000, #c82127, #fda600, #ff8c00, #c7d138;
